@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
   color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin {
    scrollbar-width: thin; 
  }

  .scrollbar-thumb-rounded {
    scrollbar-color:rgba(147, 51, 234, 0.5) transparent;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    background-color:rgba(147, 51, 234, 0.5);
    border-radius: 9999px;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
